<section id="stor">
  <h2>Store</h2>
  <h3 *ngIf="storeData$ | async as storeData">{{storeData.name}}</h3>
</section>

<main style="display: grid; grid-template-columns: 50vw 50vw;">
  <section id="team-members">
    <h2>All Team Members</h2>
    <div style="margin-bottom: 1em;">
      <button (click)="teamMemberDialog.show()">Add Team Member</button>
    </div>
    @for (member of teamMember$ | async; track member._id) {
      <div style="display: flex; margin-bottom: 1em; align-items: center; gap: 2em; flex-wrap: wrap;">
        <div style="display: flex; flex-direction: column; flex: 0 0 200px">
          <div>{{member.firstName}} {{member.lastName}}</div>
          <small>{{member._id}}</small>
        </div>
        <div style="flex: 0 0 200px">
          <button (click)="removeTeamMember(member._id)">X</button>
          <button (click)="selectedTeamMember$.next(member); teamMemberSerivceDialog.show()">Edit Services</button>
          <button (click)="selectedTeamMember$.next(member); requestOffDialog.show()">Req Off</button>
        </div>
      </div>
    }

    <dialog #teamMemberDialog>
      <h2>Add Team Member</h2>
      <form method="dialog" 
        [formGroup]="teamMemberForm" 
        (ngSubmit)="addTeamMember(teamMemberForm, teamMemberDialog); $event.preventDefault()" 
        style="display: flex; flex-direction: column;">
        <label>First Name
          <input formControlName="firstName">
        </label>
        
        <label>Last Name
          <input formControlName="lastName">
        </label>
        <div>
          <button type="reset" (click)="teamMemberDialog.close()">Cancel</button>
          <button type="submit">Save</button>
        </div>
      </form>
    </dialog>

    <dialog #teamMemberSerivceDialog>
      <h2>Edit Services</h2>
      @if (selectedTeamMember$ | async; as selectedTeamMember) {
        @if (selectedServices$ | async; as updateList) {
        <form method="dialog"
          style="display: flex; flex-direction: column;">
          @for (service of services$ | async; track service._id) {
            <div style="display: flex;">
              <div style="display: flex; flex-direction: column;">
                <div>{{service.name}}</div>
                <small>{{service._id}}</small>
              </div>
              <div>
                @if (!updateList.includes(service._id)) {
                  <button type="button"(click)="toggleService$.next(service._id)">+</button>
                } @else {
                  <button type="button"(click)="toggleService$.next(service._id)">-</button>
                }
              </div>
            </div>
          }
          <div>
            <button type="reset" (click)="teamMemberSerivceDialog.close()">Cancel</button>
            <button type="submit" (click)="addServiceToTeamMember(updateList, selectedTeamMember, teamMemberSerivceDialog); $event.preventDefault()">Save</button>
          </div>
        </form>
      }
    }
    </dialog>

    <dialog #requestOffDialog>
      <h2>Request Off</h2>
      @if (selectedTeamMember$ | async; as selectedTeamMember) {
        <form method="dialog" 
          [formGroup]="requestOffForm"
          style="display: flex; flex-direction: column;">
          @if (requestOffForm.get('isFullDay')?.value; as fullDay) {
            <label>Start
              <input type="date" formControlName="start">
            </label>
            <label>End
              <input type="date" formControlName="end">
            </label>
          } @else {
            <label>Start
              <input type="datetime-local" formControlName="start">
            </label>
            <label>End
              <input type="datetime-local" formControlName="end">
            </label>
          }

          <label>
            Full Days?
            <input type="checkbox" formControlName="isFullDay">
          </label>
          <div>
            <button type="reset" (click)="requestOffDialog.close()">Cancel</button>
            <button type="submit" (click)="teamMemberOffRequest(selectedTeamMember._id, requestOffForm, requestOffDialog); $event.preventDefault()">Save</button>
          </div>
        </form>
      }
    </dialog>

  </section>

  <section *ngIf="selectedService$ | async as selectedService; else noSelectedService">
    <h2>Selected Service - {{selectedService.name}}</h2>
    <h3>Providers:</h3>
    <div style="margin-bottom: 1em;">
      <button (click)="providersDialog.show()">Edit Provider</button>
    </div>
    <div style="display: flex; flex-direction: column;">
    @for (provider of selectedService.providers; track provider._id) {
      <div style="display: flex; margin-bottom: 1em;">
        <div style="flex: 0 0 200px">{{provider.firstName}} {{provider.lastName}}</div>
        <button (click)="providerSelection$.next(provider._id)">Check Availability</button>
      </div>
    }
    </div>

    <dialog #providersDialog>
      <h2>Set Providers for {{selectedService.name}}</h2>
      @if (selectedProviders$ | async; as updateList) { 
        <form method="dialog" 
          style="display: flex; flex-direction: column;">
          @for (member of teamMember$ | async; track member._id;) {
            <div style="display: flex;">
              <div style="display: flex; flex-direction: column;">
                <div>{{member.firstName}} {{member.lastName}}</div>
                <small>{{member._id}}</small>
              </div>
              <div>
                @if (!updateList.includes(member._id)) {
                  <button type="button"(click)="toggleProvider$.next(member._id)">+</button>
                } @else {
                  <button type="button"(click)="toggleProvider$.next(member._id)">-</button>
                }
              </div>
            </div>
          }
          <div>
            <button type="reset" (click)="providersDialog.close(); resetUpdateProviders.next(null)">Cancel</button>
            <button type="submit" (click)="setProviders(updateList, selectedService, providersDialog); $event.preventDefault()">Save</button>
          </div>
        </form>
      }
    </dialog>
  </section>
  <ng-template #noSelectedService>
    <h3>Select a service to start</h3>
  </ng-template>

  <section id="services">
    <h2>Services</h2>
    <div style="margin-bottom: 1em;">
      <button (click)="servicesDialog.show()">Add Service</button>
    </div>
    @for (service of services$ | async; track service._id) {
      <div style="display: flex; margin-bottom: 1em; align-items: center; justify-content: space-between; gap: 1em; width:min-content">
        <div style="display: flex; flex-direction: column; flex: 0 1 200px">
          <div>{{service.name}}  - {{service.price | currency}}</div>
          <div>{{service.description}}</div>
          <small>{{service._id}}</small>
        </div>
        <div style="flex: 0 0 100px">
          <button (click)="serviceSelection$.next(service._id)">Select</button>
          <button (click)="removeService(service._id)">X</button>
        </div>
      </div>
    }

    <dialog #servicesDialog>
      <h2>Add Serivce</h2>
      <form method="dialog" 
        [formGroup]="serviceForm" 
        (ngSubmit)="addService(serviceForm, servicesDialog); $event.preventDefault()" 
        style="display: flex; flex-direction: column;">
        <label>Name
          <input formControlName="name">
        </label>
        
        <label>Description
          <input formControlName="description">
        </label>
        <label>Price ($)
          <input formControlName="price">
        </label>
        <div>
          <button type="reset" (click)="servicesDialog.close()">Cancel</button>
          <button type="submit">Save</button>
        </div>
      </form>
    </dialog>
  </section>


  <section *ngIf="selectedProvider$ | async as selectedProvider">
    <pre>{{ selectedProvider | json }}</pre>
  </section>
</main>
